@media screen and ( max-width: 1300px )
  html
    font-size: 13px
  .nav
    &__item
      margin-right: 2rem
  
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .card
    &__pricetag
      max-width: 90%

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types, .design
    &__card
      margin-bottom: 6.58rem
  .card
    &__text
      margin-left: 0
    &__list
      &--roll
        .card          
          &__item
            &:nth-child(n+8)
              display: none
            &:nth-child(7)
              &::after
                content: ' ...'
  .design
    background-color: $dark
    &__heading
      color: $light
    &__section-descr
      color: $light


@media screen and ( max-width: 570px )
  .container
    width: 90%
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    max-width: 25rem
    font-size: 1.92rem
  .hero
    padding-top: 5rem
    &__text
      max-width: 26.75rem
      width: 93%
      font-size: 1.5rem
    &__scroll-down
      display: none
    &__button
      margin-bottom: 26px
      margin-right: 0
  .button
    max-width: 31.25rem
    width: 100%
    padding: 19px 0
    &-up
      right: 0
      bottom: 0
      width: 100%
      height: 3rem
      border: none
      border-radius: 0
      background-color: $dark
      box-shadow: none
      &:hover
        cursor: auto
  .section
    &-title
      &__heading
        font-size: 1.83rem
        margin-bottom: 1.2rem
    &-descr
      font-size: 1.25rem
      line-height: 1.4
      max-width: 90%
  .types
    &__section-title
      margin-bottom: 3.3rem
  .col
    padding: 0
  .card
    &__text
      margin-top: -11.8rem
      padding: 1.79rem 2.4rem
      width: 80%
    &__title
      font-size: 1.25rem
    &__list
      margin-bottom: 1.65rem
    &__pricetag
      font-size: 1.25rem
      padding: 1rem 0
      width: 15.83rem
  .design
    &__pricetag
      text-align: center

@media screen and ( max-height: 520px ) and (max-width: 1200px )
  .hero
    &__scroll-down
      display: none

@media screen and ( max-height: 586px ) and (min-width: 1200px )
  .hero
    &__scroll-down
      display: none
  

  
