@media screen and ( max-width: 1300px )
  html
    font-size: 13px
  .nav
    &__item
      margin-right: 2rem
  
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .projects
    &__col-40
      padding-left: 0
  .team
    &__card
      margin-left: 2.5rem
  .customers
    padding-bottom: 18rem
    &__row
      justify-content: space-around
    &__col
      max-width: 50%
      margin-bottom: 5rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .card
    &__pricetag
      max-width: 90%
  .projects
    &__row
      flex-direction: column
      align-items: flex-start
    &__col-40
      max-width: 100%
      margin-bottom: 2.6rem
    &__col-60
      max-width: 100%
      align-self: center
  .team
    &__card
      &-text
        width: 90%
    &__image
      max-width: 100%
      max-height: 100%
      width: 100%
      height: 100%
    &__img
      position: relative
      width: 100%
      height: 100%
      left: 0
      top: 0
      transform: none
  .steps
    &__col-40
      width: 45%
    &__col-60
      width: 55%
    &__list
      &-item
        width: 33%
        &:nth-child(1)     
          margin-right: 0
        &:nth-child(2)     
          margin-right: 0
    

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .col
    &-30
      max-width: 100%
  .control
    &__input
      &-group
        flex-basis: 28%
    &__button
      padding: 13px 38px
  .types, .design
    &__card
      margin-bottom: 6.58rem
  .card
    &__text
      margin-left: 0
    &__list
      &--roll
        .card          
          &__item
            &:nth-child(n+8)
              display: none
            &:nth-child(7)
              &::after
                content: ' ...'
  .design
    background-color: $dark
    padding-bottom: 0
    &__heading
      color: $light
    &__section-descr
      color: $light
    &__row
      margin-bottom: 0
  .steps
    display: none
  .team
    padding-top: 1.3rem
    padding-bottom: 0
    background-color: $dark
    &__section
      &-title
        margin-top: 0
    &__row
      flex-direction: column
      align-items: center
      margin-bottom: 0
    &__card
      margin-bottom: 7.4rem
      // &:last-of-type
      //   margin-bottom: 6.3rem
      &-text
        width: 19.42rem
        margin-top: -7rem
        padding-top: 2rem
    &__tag
      width: 5.83rem
      height: 5.83rem
      top: -2.915rem
      left: -2.915rem
    &__icon
      width: 60%
    &__title
      font-size: 1.5rem
      margin-bottom: 1rem
    &__subtitle
      font-size: 1.5rem
      margin-bottom: 2rem
    &__experience
      padding: 1.1rem 0
      font-size: 1.08rem
    &__text
      display: none
  .customers
    display: none
  .footer
    padding-top: 0
    background-image: none
    &__wrap
      margin-top: -1.2rem
      padding: 0
      background-color: $dark
      background-image: none

@media screen and ( max-width: 570px )
  .container
    width: 90%
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    max-width: 25rem
    font-size: 1.92rem
  .hero
    padding-top: 5rem
    padding-bottom: 1rem
    &__text
      max-width: 26.75rem
      width: 93%
      font-size: 1.5rem
    &__scroll-down
      display: none
    &__button
      margin-bottom: 26px
      margin-right: 0
    &::after
      display: none
  .button
    max-width: 31.25rem
    width: 100%
    padding: 19px 0
    &-up
      right: 0
      bottom: 0
      width: 100%
      height: 3rem
      border: none
      border-radius: 0
      background-color: $dark
      box-shadow: none
      &:hover
        cursor: auto
  .section
    &-title
      &__heading
        font-size: 1.83rem
        margin-bottom: 1.2rem
    &-descr
      font-size: 1.25rem
      line-height: 1.4
      max-width: 90%
  .projects
    padding-top: 3rem
    padding-bottom: 0.5rem
    &__title
      margin-bottom: 3.1rem
    &__heading
      font-size: 1.83rem
      margin-bottom: 2rem
    &__word
      &::after
        display: none
    &__text
      max-width: 95%
      font-size: 1.17rem
    &-slide
      &__text
        margin-bottom: 2.25rem
      &__heading
        font-size: 1.16rem
        margin-bottom: 0.9rem
      &__value
        font-size: 1.17rem
  .swiper
    &-container-1
      width: 100%
      &__image
        max-width: 340px
        height: 202px
    &-wrapper-1
      margin-bottom: 2.1rem
  .control
    padding-top: 3.67rem
    padding-bottom: 0
    background-color: $dark
    &__section-title
      margin-top: 0
      margin-bottom: 3.3rem
    &__video
      max-width: 100%
      min-height: 17.25rem
      margin-bottom: 2.33rem
      box-shadow: 0px 20px 30px rgba(24, 24, 24, 0.1);
    &__text
      margin-bottom: 2.4rem
      font-size: 1.16rem
      line-height: 2rem
      color: $light
      &::before
        margin-bottom: 1.3rem
    &__form
      position: relative
      padding-bottom: 7.33rem
      flex-direction: column
    &__label
      margin-bottom: -4px
      font-size: 1.25rem
      color: rgba(255, 255, 255, 0.5);
    &__input
      font-size: 1.5rem
      color: $light
      border-color: $light
      &::placeholder
        color: $light
      &-group
        margin-bottom: -0.3rem
        &:first-of-type
          margin-bottom: 5.25rem
    &__policy
      &-label
        justify-content: flex-start
        font-size: 1.33rem
        color: $light
    &__button
      position: absolute
      bottom: -25px
      left: 0
      right: 0
      margin: auto
      padding: 17px 0
      order: 4
      font-size: 1.25rem
  .video
    &__play
      width: 64px
      width: 64px
  .types
    padding-top: 6.8rem
    &__section-title
      margin-bottom: 3.3rem
  .col
    padding: 0
  .card
    &__text
      margin-top: -11.8rem
      padding: 1.79rem 2.4rem
      width: 80%
    &__title
      font-size: 1.25rem
    &__list
      margin-bottom: 1.65rem
    &__pricetag
      font-size: 1.25rem
      padding: 1rem 0
      width: 15.83rem
  .design
    &__pricetag
      text-align: center
  .team
    &__section
      &-descr
        max-width: 100%
        margin-bottom: 6.67rem
  .footer
    &__title
      margin-bottom: 4.2rem
      font-size: 1.67rem
    &__wrap
      margin-bottom: 3.8rem
    &__input
      border-color: rgba(255, 255, 255, 0.5)
      font-size: 1.5rem
      &-group
        flex-basis: 100%
        margin-bottom: 5.2rem
        &:nth-of-type(3)
          margin-bottom: 0.6rem
    &__label
      font-size: 1.25rem
      &-policy
        font-size: 1.33rem
        justify-content: flex-start
    &__policy
      margin-bottom: 5.6rem
    &__button
      font-size: 1.25rem
      padding: 17px 0
    &__text
      font-size: 1.5rem
      max-width: 27rem
      margin-bottom: 1.7rem
    &__map
      order: -1
      max-height: 21.25rem
      margin-bottom: 3.4rem
    &__social
      &-link
        width: 39px
        height: 39px
        &:nth-of-type(1)
          margin-right: 1.7rem  
          background: $primary url('../img/email-icon.svg') no-repeat center / 22px
        &:nth-of-type(2)
          background: $primary url('../img/instagram-icon.svg') no-repeat center / 19px
    &__menu
      display: none

@media screen and ( min-width: 992px )
  .button
    &:hover
      cursor: pointer
    &--primary
      &:hover
        box-shadow: none
    &--outline
      &:hover
        border: 1px solid $primary
        color: $primary
  .logo
    &:hover
      color: $light
  .nav
    &__item
      &:hover
        color: $primary
  .phone
    &:hover
      color: $light
  .hero
    &__scroll-down
      &:hover
        color: $primary
  .instagram
    &__link
      &:hover
        color: $light
        &::after
          height: 3px
          background-color: $light
  .control
    &__button
      &:hover
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  .steps
    &__list
      &-item
        &:hover
          opacity: 1
          cursor: pointer
  .footer
    &__phone
      &:hover
        color: $light
    &__social
      &-link
        &:hover
          box-shadow: 0px 0px 20px rgba($primary, 0.5);
          background-color: $dark

@media screen and ( max-height: 520px ) and (max-width: 1200px )
  .hero
    &__scroll-down
      display: none
  

@media screen and ( max-height: 586px ) and (min-width: 1200px )
  .hero
    &__scroll-down
      display: none
  
@media screen and ( max-height: 500px ) and (max-width: 992px ) 
  .header
    padding: 1rem 0
  .hero
    padding-top: 5rem
    &::after
      display: none
    &__text
      margin-bottom: 2rem
  .swiper
    &-container-1
      &__image
        max-height: 300px
  .footer
    &__title
      margin-bottom: 2rem
    &__input
      &-group
        margin-bottom: 1rem
    &__policy
      margin-bottom: 2rem
    &__map
      height: 300px

@media screen and ( max-height: 500px ) and (max-width: 586px ) 
  .hero
    &__button
      width: 46%
      margin-right: 1rem
      &-outline
        width: 46%
  .control
    &__form
      padding-bottom: 4rem
    &__input
      &-group
        margin-bottom: 1rem
        &:first-of-type
          margin-bottom: 1rem

@media screen and ( max-height: 400px ) and (max-width: 992px )
  .modal
    &__dialog
      overflow-y: scroll
      height: 300px
    

  
