.modal
  opacity: 0
  visibility: hidden
  position: fixed
  z-index: 199
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  background-color: rgba($dark, 0.6)
  display: flex
  justify-content: center
  align-items: center
  color: $light
  &--visible
    opacity: 1
    visibility: visible
  &__dialog
    position: relative
    background: $dark url('../img/bg-lines.svg') no-repeat center
    padding: 2.357rem 3.6rem 1.928rem
    max-width: 36.36rem
  &__close
    position: absolute
    top: 0
    right: 0
    width: 28px
    height: 28px
    background: transparent url('../img/close.svg') no-repeat center
    border: none
    margin-top: 12px
    margin-right: 13px
    outline: none
    &:hover
      cursor: pointer
  &__title
    margin: 0
    margin-bottom: 2rem
    font-family: 'Yeseva One', cursive
    font-weight: 400
    font-size: 1.357rem
    line-height: 1.37
    text-align: center
    color: $light
  &__form
    display: flex
    flex-direction: column
  &__input
    outline: none
    &-group
      margin-bottom: 3.25rem
      &:nth-of-type(3)
        margin-bottom: 0.08rem
  &__policy
    position: relative
    margin-bottom: 2.78rem
    &>div
      &.invalid
        position: absolute
        top: 2.5rem
        left: 0
        color: tomato

  &__button
    align-self: flex-end
    padding: 1.3rem 3.55rem
  &-thanks
    opacity: 0
    visibility: hidden
    position: fixed
    z-index: 199
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.6)
    display: flex
    justify-content: center
    align-items: center
    color: $light
    &--visible
      opacity: 1
      visibility: visible
    &__dialog
      position: relative
      background: $dark url('../img/bg-lines.svg') no-repeat center
      padding: 2.357rem 2.5rem 1.928rem
      max-width: 25rem
      border: 1px dashed $primary
      border-radius: 2rem
    &__close
      position: absolute
      top: 0
      right: 0
      width: 28px
      height: 28px
      background: transparent url('../img/close.svg') no-repeat center
      border: none
      margin-top: 12px
      margin-right: 13px
      outline: none
      &:hover
        cursor: pointer
    &__title
      margin: 0
      margin-bottom: 2rem
      font-family: 'Yeseva One', cursive
      font-weight: 400
      font-size: 1.357rem
      line-height: 1.37
      text-align: center
      color: $primary
    &__text
      margin: 0
      margin-bottom: 1rem
      font-size: 1rem
      line-height: 1.2
      text-align: center
      color: $light
    &__link
      display: flex
      justify-content: center
    &__icon
      width: 5rem
      height: 5rem
